  
  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Exo:wght@200&display=swap');

.main{
    font-family: 'Exo', sans-serif;
    background-color: #F8F0E5;
    display: flex;
    padding: 0;
    margin: 0;

    >.side-bar{
        flex: 1;
    }
    >.content{
        flex: 5 ;
    }
}