<div class="container">
  <div class="card">
    <div class="img-con">
      <img src="assets/book1.jpeg" alt="img" height="250px" width="auto" />
    </div>
    <div class="des-con">
      <h2>نزهة المشتاق في اختراق الآفاق</h2>
      <h4>الشريف الإدريسي</h4>
      <a href="">قراءة</a>
    </div>
  </div>
  <div class="card">
    <div class="img-con">
      <img src="assets/book1.jpeg" alt="img" height="250px" width="auto" />
    </div>
    <div class="des-con">
      <h2>نزهة المشتاق في اختراق الآفاق</h2>
      <h4>الشريف الإدريسي</h4>
      <a href="">قراءة</a>
    </div>
  </div>
  <div class="card">
    <div class="img-con">
      <img src="assets/book1.jpeg" alt="img" height="250px" width="auto" />
    </div>
    <div class="des-con">
      <h2>نزهة المشتاق في اختراق الآفاق</h2>
      <h4>الشريف الإدريسي</h4>
      <a href="">قراءة</a>
    </div>
  </div>
  <div class="card">
    <div class="img-con">
      <img src="assets/book1.jpeg" alt="img" height="250px" width="auto" />
    </div>
    <div class="des-con">
      <h2>نزهة المشتاق في اختراق الآفاق</h2>
      <h4>الشريف الإدريسي</h4>
      <a href="">قراءة</a>
    </div>
  </div>
</div>
