@import '../../../../Styles.scss';
.card{
    font-family: 'Ruwudu', serif;
    height:190px;   
    width: 440px;
    border: solid 1px #0D0D0D;
    border-radius: 1rem;
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
background-color: #ffffff;
    >.img-con{
        border-radius:1rem;
        margin-left: 1rem;
        border-bottom: solid 1px #0D0D0D;
        flex:1;
        display: flex; /* Use flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        background-color: $color0;
        width: 170px;
        >img{   
            border: solid 1px #0D0D0D;
            border-radius:1rem;
            height: 210px;
            width: 170px;
        }

    }
    >.des-con{
        margin: 0.61rem;
        font-family: 'Cairo', sans-serif;
        >h4{
            font-size: 1.1rem;
            font-weight: 600;
            margin: 1rem 0 0.5rem 0;
            padding: 0.5rem;
            border-radius: 1rem;
            background-color: #F8F0E5;
        }
        
    }

}
.container{
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    
    background-color: #F8F0E5;
    
}
a{
    text-decoration: none;
    color: black;
    border: solid 1px $color2;
    border-radius: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #0D0D0D;
    color: #ffffff;
}
a:hover{
    background-color: #F8F0E5;
    color: #0D0D0D;
    cursor: pointer;
}
h2{
    font-family: 'Cairo', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem;
}


