@import '../../../../Styles.scss';

div{
    height: 100vh;
    background-color: $color0;
    padding: 1rem 0rem .5rem 0rem;
    font-size: larger;
    border: solid 1px $color2;
    >img{
        align-self: center;
        justify-self: center;
    }

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    >li{

        padding: 0;
        margin: 0;

    &:hover{
        background-color: $color1;
        border-radius: 5px;
        cursor: pointer;
    }

        >a{
            display: block;
            padding: 0.5rem 1rem 0.5rem 1rem;
            text-decoration: none;
            color: $black;
            width: 100%;
            height: 100%;
            align-content: center;
            justify-content: center;

        }
    }

}